/* ===== ROOT ===== */
#game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ===== GAME VIEW ===== */
#game-view {
  flex: 1;
  position: relative;
  background-image: url("/assets/bg/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  touch-action: none;
  overflow: hidden;
}

.can-move {
  outline: 2px solid red;
  cursor: pointer;
}

.can-move::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;

  /* Viền không làm thay đổi size */
  box-shadow:
    inset 0 0 0 4px #ff4d4d,
    0 0 12px rgba(255, 77, 77, 0.6);

  animation: pulseMove 1.2s ease-in-out infinite;
  pointer-events: none;
}



/* ===== MAP ===== */
#map-layer {
  position: absolute;
  left: 5%;
  top: 0;
  pointer-events: auto;

  /* camera smooth */
  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform;
}

/* ===== TILE ===== */
.tile {
  z-index: 2;
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  font-size: 56px;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  image-rendering: pixelated;
  transform: translateZ(0);
  border-radius: 16px;
  transition: transform 0.2s ease;
}

.tile-bg {
  z-index: 1;
  /*background-image: url("/assets/bg/7.png");*/
  image-rendering: pixelated;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.tile:hover {
  transform: scale(1.08);
}

/* ===== PLAYER ===== */
#player {
  z-index: 3;
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  background-repeat: no-repeat;
  image-rendering: pixelated;
  transition: left 2s linear, top 2s linear;
}

/* ===== IDLE: 8 FRAME ===== */
.player.idle {
  background-image: url("/assets/player/idle.png");
  background-size: calc(var(--tile-size) * 8) var(--tile-size);
  animation: idleAnim 1s steps(8) infinite;
}

/* ===== RUN: 6 FRAME ===== */
.player.run {
  background-image: url("/assets/player/run.png");
  background-size: calc(var(--tile-size) * 6) var(--tile-size);
  animation: runAnim 0.6s steps(6) infinite;
}

.player.flip {
  transform: scaleX(-1);
}

/* ===== KEYFRAMES ===== */
@keyframes idleAnim {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--tile-size) * -8);
  }
}

@keyframes runAnim {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--tile-size) * -6);
  }
}

@keyframes pulseMove {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* ===== ENEMY (BEAR) ===== */
.enemy {
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  background-repeat: no-repeat;
  image-rendering: pixelated;
  filter: drop-shadow(0 0 8px rgba(255, 200, 0, 0.7));
}

.enemy.bear {
  /*ackground-image: url("/assets/enemy_basic/idle.png");*/
  background-size: calc(var(--tile-size) * 6) var(--tile-size);
  animation: bearIdle 0.6s steps(6) infinite;
}

@keyframes bearIdle {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--tile-size) * -6);
  }
}


/* ===== TREE ===== */
.tree {
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  background-repeat: no-repeat;
  image-rendering: pixelated;
  transform: translateY(-10%);
}

.tree.shake {
  /*background-image: url("/assets/tree/idle.png");*/
  background-size: calc(var(--tile-size) * 8) var(--tile-size);
  animation: treeIdle 0.6s steps(8) infinite;
}

@keyframes treeIdle {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--tile-size) * -8);
  }
}

.tile.rock {
  position: absolute;
  /*background-image: url("/assets/rock/1.png");*/
  width: 160px;
  height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  transform: translateY(-20%) translateX(3%);
}


/* ===== GOAL ===== */
.goal {
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.goal.gold {
  background-image: url("/assets/goal/2.png");
  background-size: calc(var(--tile-size) * 6) var(--tile-size);
  animation: GoalGold 0.8s steps(6) infinite,
             glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from { filter: drop-shadow(0 0 5px gold); }
  to { filter: drop-shadow(0 0 20px orange); }
}

@keyframes GoalGold {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--tile-size) * -6);
  }
}

/* ===== SHEEP ===== */
.sheep {
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.sheep.grass {
  background-image: url("/assets/sheep/1.png");
  background-size: calc(var(--tile-size) * 12) var(--tile-size);
  animation: SheepGrass 5s steps(12) infinite;
}

@keyframes SheepGrass{
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--tile-size) * -12);
  }
}

@keyframes praisePop {
  0% {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}