/* =========================
   PIXEL QUIZ POPUP
========================= */

.quiz-popup {
  width: 720px;
  min-height: 420px;

  background: url("../assets/bg/Quiz_BG.png") center / cover no-repeat;

  padding: 50px 100px 60px;

  font-family: "VT323", monospace;
  font-size: 28px;
  line-height: 1.6;
  color: #2b1a0f;

  border: none;
  box-shadow: none;

  /* Hiệu ứng nổi nhẹ */
  filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.6));

  animation: popupIn 0.2s steps(4);

  position: relative;
}

.quiz-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

@keyframes popupIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.quiz-popup h3 {
  margin-bottom: 0px;
  text-align: center;
  font-size: 25px;
  padding: 0px 30px;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin: 0px 40px;

  bottom: 100px;
  position: absolute;
}

.quiz-popup button {
  background: #cca24da9;
  color: #2a180a;

  border: none;
  padding: 10px;

  min-width: 200px;

  cursor: pointer;
  font-family: inherit;
  font-size: 20px;

  transition: all 0.05s steps(2);
}

.quiz-popup button:hover {
  background: #e7ae05f3;
  color: #000;
}

.quiz-popup button:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0 #000;
}

/* =========================
   FILL BLANK MODE
========================= */

.fill-blank {
  text-align: center;
}

#fillInput {
  width: 160px;
  margin: 10px 0;
  padding: 6px;

  background: #d89713a8;
  color: #000;

  border: none;
  border-radius: 10px;

  font-family: inherit;
  font-size: 22px;

  outline: none;
}

#fillInput:focus {
  border-color: #00ff00;
  box-shadow: 0 0 6px #00ff00;
}

#submitFill {
  margin-top: 8px;
  padding: 6px 16px;
}
